<h1>Listing Service-Men</h1>
<%= link_to 'New serviceMan', new_service_man_path %>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Contact-1</th>
    <th>Contact-2</th>
    <th>Address</th>
    <th>Zip-Code</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th colspan="3"></th>
  </tr>
 
  <% @serviceMen.each do |serviceMan| %> 
    <tr>
      <td><%= serviceMan.fName %></td>
      <td><%= serviceMan.lName %></td>
      <td><%= serviceMan.age %></td>
      <td><%= serviceMan.contact1 %></td>
      <td><%= serviceMan.contact2 %></td>
      <td><%= serviceMan.address %></td>
      <td><%= serviceMan.zipcode %></td>
      <td><%= serviceMan.city %></td>
      <td><%= serviceMan.state %></td>
      <td><%= serviceMan.country %></td>
      <td><%= link_to 'Show', service_man_path(serviceMan) %></td>
      <td><%= link_to 'Edit', edit_service_man_path(serviceMan) %></td>
      <td><%= link_to 'Destroy', service_man_path(serviceMan),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>